/*******TABLET******/
@media (max-width: 48em) {
  body {
    max-width: 650px;
    background-image: url('./assets/bg-main-tablet.png');
  }

  .header {
    margin-top: 4rem;
  }

  .hero {
    margin-right: 16rem;
    gap: 2rem;
  }

  .hero-title {
    font-size: 5rem;
    margin-right: 8rem;
    letter-spacing: 1px;
  }

  .hero-paragraph {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.8;
    margin-right: 2rem;
  }

  .pattern-1 {
    height: 32rem;
    width: 22rem;
    top: -2;
    left: 76%;
  }

  .hero-images-wrap {
    margin-top: 20rem;
  }

  .app-illustration {
    height: 42rem;
    width: 20rem;
    transform: translate(42%, -28%);
  }

  .pattern-2 {
    left: 30%;
  }

  .info-card {
    width: 46%;
    top: 26%;
    left: 36%;
  }

  .footer {
    row-gap: 4rem;
  }

  .footer-logo {
    grid-row: 1;
    margin-top: 4rem;
  }

  .footer-links {
    height: 2rem;
  }

  .footer-contact {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .social-links-wrapper {
    margin-top: 0;
    grid-row: 2;
    align-items: center;
    justify-content: end;
  }
}

/*******MOBILE******/
@media (max-width: 30em) {
  body {
    background-image: url('./assets/bg-main-mobile.png');
  }

  .header {
    margin-left: 1rem;
  }

  .company-logo {
    height: 2.6rem;
  }

  .hero {
    margin-left: 1rem;
    margin-top: 6rem;
    margin-right: 1rem;
  }

  .hero-title {
    margin-right: 0.5rem;
    font-size: 3.2rem;
    letter-spacing: 0;
    line-height: 1.2;
  }

  .hero-paragraph {
    margin-top: 0;
    font-size: 1.2rem;
    margin-right: 0;
  }

  .pattern-1 {
    display: none;
  }

  .hero-images-wrap {
    margin-top: 12rem;
  }

  .hero-images {
    height: 30rem;
    z-index: 1;
  }

  .app-illustration {
    height: 100%;
    width: 30%;
    transform: translate(50%, -24%);
  }

  .pattern-2 {
    height: 32rem;
    top: 0;
    left: 0;
    transform: translate(18%, 0);
  }

  .info-card {
    width: 100%;
    top: 94%;
    left: 0;
    padding: 3rem 3rem;
    gap: 1rem;
  }

  .card-paragraph {
    font-size: 1.4rem;
    font-weight: 200;
  }

  .dollars {
    font-size: 3.8rem;
  }

  .btn {
    padding: 1.4rem 2rem;
    font-size: 1.2rem;
  }

  .apple-icon {
    top: 34%;
  }

  .footer {
    margin-top: 38rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .footer-contact {
    font-size: 1rem;
  }

  .social-links-wrapper {
    justify-content: start;
  }
}
