/*******TABLET******/
@media (max-width: 48em) {
  body {
    max-width: 700px;
  }

  .hero {
    margin-right: 16rem;
    gap: 2rem;
  }

  .hero-title {
    font-size: 5rem;
    margin-right: 8rem;
    letter-spacing: 1px;
  }

  .hero-paragraph {
  }
}

/*******MOBILE******/
