/*******TABLET******/
@media (max-width: 48em) {
  body {
    max-width: 700px;
  }

  .hero {
    margin-right: 16rem;
    gap: 2rem;
  }

  .hero-title {
    font-size: 5rem;
    margin-right: 8rem;
    letter-spacing: 1px;
  }

  .hero-paragraph {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.8;
    margin-right: 4rem;
  }

  .pattern-1 {
    height: 32rem;
    width: 24rem;
    top: -2;
    left: 72%;
  }

  .hero-images-wrap {
    margin-top: 24rem;
  }
}

/*******MOBILE******/
