/*
Colors: 
#66E2DC
#FA7453
#FFB964
#FCFAF9
#191826



*/
/*GENERAL!*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*base: 10px*/
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1;
  font-weight: 500;
  max-width: 930px;
  margin: 0 auto !important;
}

.header {
  margin-top: 2rem;
}

.company-logo {
  height: 2.4rem;
}

.hero {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-right: 42rem;
}

.hero-title {
  font-weight: 600;
  font-size: 4.8rem;
  letter-spacing: 0.5px;
}

.hero-paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
}
