/*
Colors: 
#66E2DC
#FA7453
#FFB964
#FCFAF9
#191826



*/
/*GENERAL!*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*base: 10px*/
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1;
  font-weight: 500;
  max-width: 960px;
  margin: 0 auto !important;
}

.header {
  margin-top: 2rem;
}

.
