/*
Colors: 
#66E2DC
#FA7453
#FFB964
#FCFAF9
#191826



*/
/*GENERAL!*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*base: 10px*/
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1;
  font-weight: 500;
  max-width: 930px;
  margin: 0 auto !important;
  background-image: url('./assets/bg-main-desktop.png');
}

.header {
  margin-top: 2rem;
}

.company-logo {
  height: 2.4rem;
}

.hero {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-right: 20rem;
}

.hero-title {
  font-weight: 600;
  font-size: 6rem;
  letter-spacing: 0.5px;
}

.hero-paragraph {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 400;
}

.pattern-1 {
  height: 35rem;
  width: 22rem;
  position: absolute;
  top: -4%;
  left: 82%;
}

/*HERO IMAGES*/

.hero-images-wrap {
  margin-top: 20rem;
  z-index: -1;
  position: relative;
}

.hero-images {
  border-radius: 14px;
  width: 100%;
  height: 44rem;
  overflow: hidden;
  background-color: black;
}

.app-illustration {
  position: absolute;
  height: 50rem;
  top: 0%;
  left: 0%;
  transform: translate(57%, -30%);
}

.pattern-2 {
  height: 40rem;
  position: relative;
  top: -10%;
  left: 33.5%;
}

.info-card {
  position: absolute;
  width: 30%;
  top: 15%;
  left: 55%;
  background-color: #fa7453;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  padding-bottom: 2.8rem;
  gap: 2rem;
  border-radius: 10px;
}

.card-title {
  color: #fcfaf9;
  font-size: 2.4rem;
  font-weight: 500;
}

.card-paragraph {
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 400;
  color: #fcfaf9;
}

.card-price {
  color: #fcfaf9;
  font-size: 1.2rem;
}

.dollars {
  font-size: 3.4rem;
}

.btn {
  text-decoration: none;
  border-radius: 5px;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /*Use absolute positioning for centering svgs to text*/
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-apple {
  background: #191826;
  color: #fcfaf9;
  margin-top: 2rem;
}

.btn-icon {
  height: 1rem;
  width: 1rem;
  position: absolute;
}

.apple-icon {
  left: 26%;
  top: 30%;
}

.android-icon {
  left: 20%;
}

/*****FOOTER*****/

.footer {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 4rem;
}

.footer-logo {
  height: 1rem;
}

.footer-contact {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 2;
}

.social-links-wrapper {
  grid-column: 4;
  display: flex;
  align-items: center;
  justify-content: end;
}

.social-media-links {
  display: flex;
}

.footer-logo {
  margin-left: 1.2rem;
  height: 1.2rem;
}
