/*
Colors: 
#66E2DC
#FA7453
#FFB964
#FCFAF9
#191826



*/
/*GENERAL!*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*base: 10px*/
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1;
  font-weight: 500;
  max-width: 930px;
  margin: 0 auto !important;
  background-image: url('./assets/bg-main-desktop.png');
}

.header {
  margin-top: 2rem;
}

.company-logo {
  height: 2.4rem;
}

.hero {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-right: 20rem;
}

.hero-title {
  font-weight: 600;
  font-size: 7rem;
  letter-spacing: 0.5px;
}

.hero-paragraph {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 400;
}

.hero-images {
  background-color: black;
  border: 1px solid black;
  border-radius: 14px;
  margin-top: 24rem;
}

.pattern-1 {
  height: 35rem;
  width: 22rem;
  position: absolute;
  top: -4%;
  left: 82%;
}
