/*
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights: 
- Line heights:
- Letter Spacing:

--- 02 COLORS
- Primary: #040429;
- Tints
-Shades
-Accents
-Greys

--- 05 SHADOWS
box-shadow: 

--- 06 BORDER-RADIUS

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  /*Make font-size 10px*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 62.5%;
}

body {
  max-width: 960px;
  margin: 0 auto !important;
  position: relative;
  background: linear-gradient(to top, #cccef8, 10%, #fff);
  background-size: cover;
}

.btn {
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: none;
}
