/****************************/
/*BELOW 960px*/
/****************************/
@media (max-width: 60em) {
  body {
    max-width: 800px;
  }

  .hero-header {
    font-size: 3rem;
  }

  .hero-left-container {
    margin-right: 50rem;
  }

  .hero-img {
    height: 60rem;
  }
  .footer-container {
    max-width: 800px;
  }
}

@media (max-width: 48em) {
  body,
  .footer-container {
    max-width: 650px;
  }

  .hero-left-container {
    margin-right: 35rem;
  }

  .hero-img {
    left: 45%;
    top: -12%;
  }

  .company-info {
    grid-template-columns: repeat(2, fit-content(45%));
    column-gap: 1.4rem;
  }

  .info-card-container {
    gap: 2.8rem;
  }

  .info-cards-link:link,
  .info-cards-link:visited {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .paragraph-info {
    line-height: 2rem;
    width: 80%;
  }
}
