/*NAV BAR*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 14rem;
  /* background-color: red; */
}

.company-name {
  font-size: 2.4rem;
  font-weight: 600;
}

.nav-header {
  color: #040429;
}

.btn-nav {
  background-color: #13183f;
  color: #fff;
}

.btn-nav:hover,
.btn-nav:active {
  background-color: #71748c;
}

/*HERO SECTION*/

.hero-left-container {
  margin-right: 64rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
}

.hero-header {
  letter-spacing: 1.2;
  font-size: 3.6rem;
  font-weight: 600;
}

.paragraph-hero {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #83869a;
}

.btn-hero {
  align-self: flex-start;
  color: #fff;
  background: linear-gradient(to top, #f74780, 70%, rgb(255, 85, 0));
}

.btn-hero:hover,
.btn-hero:active {
  background: linear-gradient(to top, #fa91b3, 70%, #ff884d);
}

.hero-img {
  height: 70rem;
  position: absolute;
  top: -10%;
  left: 55%;
}

.hero-img-tablet {
  display: none;
}

.hero-img-mobile {
  height: 40rem;
  display: none;
}

/*INFO CARDS*/

.company-info {
  margin: 18rem auto;
  display: grid;
  grid-template-columns: repeat(3, fit-content(25%));
  justify-content: center;
  row-gap: 4rem;
  column-gap: 3.4rem;
}

.info-card-container {
  padding-top: 4.8rem;
  padding-left: 2rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.info-card {
  gap: 2.4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: #fff;
  position: relative;
}

.info-cards-link:link,
.info-cards-link:visited {
  position: absolute;
  text-decoration: none;
  top: 85%;
  color: #f74780;
  font-weight: 500;
}

.info-icon {
  position: absolute;
  top: -10%;
  height: 4.4rem;
  width: 4.4rem;
}

.title-card {
  background: linear-gradient(to top, #f74780, 50%, rgb(255, 85, 0));
}

.info-title-text {
  color: #fff;
  font-size: 1.8rem;
  padding-top: 4.8rem;
  padding-left: 2rem;
  padding-right: 4rem;
}

.card {
  border-radius: 11px;
}

.info-card-title {
  font-size: 1.4rem;
}

.paragraph-info {
  line-height: 1.5;
  width: 75%;
  color: #83869a;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

/*Try using max-length for grid cells!*/
/*Footer*/
.footer {
  width: 100%;
  position: absolute;
  left: 0;
  margin: 0;
  background-color: #13183f;
  /* display: flex;
  justify-content: space-around; */
}
.footer-container {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.footer-header {
  color: #fff;
}

.btn-footer {
  background: linear-gradient(to top, #f74780, 35%, #2f09ac);
  color: #fff;
}

.btn-footer:hover,
.btn-footer:active {
  background: linear-gradient(
    to top,
    hsl(341, 92%, 80%),
    35%,
    hsl(254, 90%, 80%)
  );
}
