/*NAV BAR*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 14rem;
  /* background-color: red; */
}

.nav-company-name {
  font-size: 2.4rem;
  font-weight: 600;
  color: #040429;
}

.btn-nav {
  background-color: #13183f;
  color: #fff;
}

/*HERO SECTION*/
.hero {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}
.hero-left-container {
  margin-right: 64rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
}

.hero-header {
  font-size: 3.6rem;
  font-weight: 600;
}

.paragraph-hero {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #83869a;
}

.btn-hero {
  align-self: flex-start;
  color: #fff;
  background: linear-gradient(to top, #f74780, 70%, rgb(255, 85, 0));
}

.hero-img {
  height: 70rem;
  position: absolute;
  top: -15%;
  left: 55%;
}

/*INFO CARDS*/

.company-info {
  margin-top: 14rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
  column-gap: 2.4rem;
}

.info-card-container {
  position: relative;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.info-icon {
  position: absolute;
  top: -15%;
  height: 4.4rem;
  width: 4.4rem;
}

.title-card {
  background: linear-gradient(to top, #f74780, 70%, rgb(255, 85, 0));
}

.info-title-text {
  color: #fff;
  font-size: 1.6rem;
}

.card {
  border-radius: 11px;
}

.info-card-title {
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: #fff;
}

.paragraph-info {
  line-height: 1.5;
  display: inline-block;
  width: 75%;
  color: #83869a;
  font-size: 1.2rem;
}
