/*NAV BAR*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 20rem;
  /* background-color: red; */
}

.nav-company-name {
  font-size: 2.4rem;
  font-weight: 600;
  color: #040429;
}

.btn-nav {
  background-color: #13183f;
  color: #fff;
}

/*HERO SECTION*/
.hero {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}
.hero-left-container {
  margin-right: 64rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
}

.hero-header {
  font-size: 3.6rem;
  font-weight: 600;
}

.paragraph-hero {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #83869a;
}

.btn-hero {
  align-self: flex-start;
  color: #fff;
  background: linear-gradient(to top, #f74780, 70%, rgb(255, 85, 0));
}

.hero-img {
  height: 70rem;
  position: absolute;
  top: -15%;
  left: 55%;
}
