/*****/
/*GENERAL*/
/*
## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700


*/
/*****/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: black;
}

.hidden {
  display: none;
}

.flex-center-container {
  background-color: hsl(213, 19%, 18%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid black 1px;
  border-radius: 4rem;
  max-width: 40rem;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 3rem;
}

.rating-star-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid hsl(213, 19%, 18%);
  padding: 1.5rem;
  margin-bottom: 1.2rem;
  background: hsl(217, 20%, 25%);
}

.secondary-heading {
  color: #fff;
  font-weight: 400;
  font-size: 2.8rem;
  letter-spacing: 0.05;
}

.paragraph-info {
  color: hsl(217, 12%, 63%);
  font-size: 1.4rem;
  line-height: 1.5;
}

.form-container {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
}

.rating-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hsl(217, 20%, 25%);
  color: hsl(217, 12%, 63%);
  height: 5rem;
  width: 5rem;
  padding: 0.2rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.rating-btn:hover {
  background: hsl(217, 12%, 63%);
  color: #fff;
}

.rating-btn:active {
  background: hsl(25, 97%, 53%);
}

.chosen-rating {
  color: #fff;
  background: hsl(25, 97%, 53%);
}

.submit-btn {
  margin-top: 1.2rem;
  text-transform: uppercase;
  border-radius: 4rem;
  background: hsl(25, 97%, 53%);
  color: #fff;
  font-family: inherit;
  letter-spacing: 0.3rem;
  font-size: 1.4rem;
}

.submit-btn:active {
  background: #fff;
  color: hsl(25, 97%, 53%);
}

/************/
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thank-you-img {
  height: 12rem;
  width: 18rem;
}
