* {
  padding: 0;
  margin: 0;
}

.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 25rem;
}
