/*****/
/*GENERAL*/
/*
## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700


*/
/*****/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Overpass', sans-serif;
}

.flex-center-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid black 1px;
  max-width: 45rem;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.2rem;
}

.img-container {
}

img {
  height: 2rem;
  width: 2rem;
}
