/************** GENERAL **************/
/*
Colors: 
   - #4D96A9
   - #855FB1
   - #28283D
   - #8FE3F9
   - #D9B8FF
   - #FAFAFA
   - #87879D


Sizing: 
   - H1 -> 64px;
   - H2 -> 40px;   
   - paragraph -> 18px;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', serif;
  max-width: 960px;
  margin: 0 auto !important;
}

/************** HEADER **************/
.header {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  height: 2.4rem;
}

/************** HERO **************/
.hero {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero-wrapper {
  width: 60%;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 4rem;
}
.hero-title {
  color: #28283d;
  padding: 0 8rem;
  font-size: 6.4rem;
  line-height: 1;
}

.hero-caption {
  color: #87879d;
  font-size: 1.8rem;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  text-decoration: none;
  background: none;
  border: none;
  background: black;
  color: #fff;
  padding: 1.2rem 3rem;
  border-radius: 20px;
  font-weight: 700;
  font-family: inherit;
  transition: all 0.3s;
}

.btn-green {
  background: #4d96a9;
}

.btn-purple {
  background: #855fb1;
}

.btn-green:hover,
.btn-green:active {
  background: #8fe3f9;
}

.btn-purple:hover,
.btn-purple:active {
  background: #d9b8ff;
}
