/*
background color: #D5E1EF
caption color: #7D889E
title color: #1F314F;
main: #2C7DFA
shade: #1F314F;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Outfit', sans-serif;
}

body {
  background: #d5e1ef;
}

.qr-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
