/*
background color: #D5E1EF
caption color: #7D889E
title color: #1F314F;
main: #2C7DFA
shade: #1F314F;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Outfit', sans-serif;
}

body {
  background: #d5e1ef;
}

.qr-box {
  max-width: 32rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 14px;
}

.qr-flex-container {
  padding-top: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  text-align: center;
}

.qr-png {
  height: 30rem;
  width: 28rem;
  border-radius: 14px;
}

.heading {
  font-size: 2rem;
  letter-spacing: 0.6px;
  font-weight: 700;
  margin: 0 2rem;
  color: #1f314f;
}

.caption {
  margin: 0 2rem;
  letter-spacing: 1.2;
  line-height: 1.8;
  color: #7d889e;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
